/* resets */
body,
header,
footer,
h1,
h2,
h3,
h4,
form,
p,
input,
label,
th,
td,
tr {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  color: rgba(29, 30, 24, 1);
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-image: linear-gradient(rgba(125, 132, 145, 1), white);
}

header img {
  width: 50px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(39, 90, 44, 1);
  color: white;
  padding: 50px;
  margin: 50px;
  border-radius: 25px;
  z-index: 1;
}

.budget-form {
  display: flex;
  flex-direction: column;
}

#weeklyIncome,
#purchase,
#category,
#amount {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: large;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

.grow-button,
.submit-transaction-button {
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: large;
}

.grow-button:hover,
.submit-transaction-button:hover {
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.grow-button:active,
.submit-transaction-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.update-budget {
  text-decoration: none;
  color: rgba(42, 180, 33, 1);
}

.cancel-button {
  margin-top: 25px;
  text-decoration: none;
  color: white;
}

h4 {
  margin: 20px;
  font-size: larger;
}

h5 {
  font-size: x-large;
  margin: 15px 0;
}

.budget-container {
  background-color: rgba(125, 132, 145, 0.25);
  color: rgba(42, 180, 33, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0;
  margin: 40px 0;
  border-radius: 20px;
  width: 80vw;
}

.remaining-budget {
  padding: 10px;
  margin: 10px 0;
  font-size: 60px;
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.progress-bar-outer {
  position: relative;
  margin: 20px 0;
  background-color: rgba(125, 132, 145, 0.5);
  padding: 4px;
  height: 50px;
  width: 80%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.progress-bar-inner {
  background-color: rgb(240, 45, 58);
  box-sizing: border-box;
  border-radius: 5px;
  height: 80%;
}

.total-spent-spot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px 8px rgb(7, 7, 7);
}

.budget-container,
.transactions-container,
.expenses-container {
  /* border: 2px solid black; */
}

.transactions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: 80px 0;
  width: 80vw;
  padding: 20px;
  background-color: rgba(125, 132, 145, 0.25);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.table-header {
  font-weight: bold;
}

td {
  margin: 20px 100px;
}

tr {
  text-align: left;
}

.expenses-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: 80px 0;
  width: 80vw;
  padding: 20px;
  background-color: rgba(125, 132, 145, 0.25);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.new-transaction-initiator {
  position: absolute;
  display: flex;
  bottom: 50px;
  right: 25px;
  z-index: 1;
  height: 50px;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.new-transaction-initiator img {
  z-index: 2;
}
.new-transaction-initiator:hover {
  background-color: rgba(42, 180, 33, 1);
}

.new-transaction-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(124, 10, 2, 1);
  border-radius: 25px;
}

.new-transaction-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25%;
  background-color: rgba(39, 90, 44, 1);
  color: white;
  padding: 50px;
  margin: 50px;
  border-radius: 25px;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.busted-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25%;
  background-color: rgba(39, 90, 44, 1);
  color: white;
  padding: 50px;
  margin: 50px;
  border-radius: 25px;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.iconify {
  margin: 20px;
  height: 100px;
  width: 100px;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100vw;
  }

  .transactions-container,
  .expenses-container {
    width: 40vw;
    min-height: 250px;
  }

  .transactions-container {
    justify-content: flex-start;
  }

  #not-desktop {
    display: none;
  }

  header {
    justify-content: center;
    padding-top: 100px;
  }

  header img {
    position: relative;
    height: 125px;
    width: 150px;
    right: 100px;
    top: 20px;
  }
}
